@media (min-width:320px) and (max-width:767px) {
    .container{
        width: 100%;
    }
    .col_sm_6{
        width:50%;
        flex:0 0 auto;
        padding: 0px 15px;
    }
    .col_sm_12{
        width:100%;
        flex:0 0 auto;
    }
    .disp_none{
        display: none;
    }
    .banner{
        padding: 0;
    }
    .ban_cnt{
        text-align: center;
        margin-top: 150px;     
    }

    .ban_cnt h1{
        font-size: 28px;
    }
    .banner1{
        height: 150vh;
    }
    .banner1_cnt{
        text-align: center;
    }
    .banner1_cnt1{
        text-align: center;
       
    }
}